/FEMFFUSION
/data-raw/*
/data-gen/*.npy
/data-gen/prm_cases/*
/.venv
.python-version
uv.lock
*.npz
*.pth
*.pkl
*.ipynb
/notes
backup/dataset_raw/outputs/
/data-check-plots/*
/data-processed/power_series_log/*
__pycache__/
*.py[cod]
*$py.class
prm_cases/*